[Unit]
Description=MANET Ethernet Hotplug Auto Detection
After=systemd-networkd.service batman-enslave.service
Wants=systemd-networkd.service
ConditionPathExists=/usr/local/bin/ethernet-autodetect.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ethernet-autodetect.sh --hotplug
TimeoutStartSec=240

[Install]
WantedBy=multi-user.target
