[Unit]
Description=Check MANET standalone log sizes every fifteen minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
